{
  "plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "printWidth": 60,
        "parser": "astro"
      }
    },
    {
      "files": "*.tsx",
      "options": {
        "printWidth": 60,
        "parser": "typescript"
      }
    }
  ]
}
