@import "tailwindcss";

:root{
  --background: #f7f3eb;
  --background-foreground: #faf7ed;
}


@theme{
  --color-background-primary: var(--background);
  --color-background-foreground: var(--background-foreground);
}

@theme inline {
  --font-sans: var(--font-inter);
}

@layer base{
  html{
        scroll-behavior: smooth;
        background-color: var(--color-background);  
    }
}