---
import { Image } from "astro:assets";
import ParallaxBackground from "./ParallaxBackground";
import { NavigationLinks } from "../lib/types";
---

<section
  id={NavigationLinks.Home}
  class="relative flex h-screen items-end justify-center overflow-hidden"
>
  <ParallaxBackground
    imageSrc="/assets/church_hero_image.jpg"
    alt="Church Hero Background"
    speed={0.5}
    client:load
  />
  <div
    class="absolute inset-0 z-15 bg-gradient-to-t from-black via-black/55 to-transparent"
  >
  </div>
  <div
    class="relative z-20 container mx-auto flex w-full items-center justify-between px-4 pb-10 md:px-6 md:pb-12 lg:px-8 lg:pb-16"
  >
    <div class="relative z-10 max-w-3xl text-white">
      <h1
        class="text-5xl leading-tight font-bold tracking-tight md:text-6xl lg:text-7xl"
      >
        Casa de David
        <span
          class="block text-4xl font-medium text-yellow-300 md:text-5xl lg:text-6xl"
        >
          Puerto Cortés
        </span>
      </h1>
      <div class="mt-6 border-l-4 border-yellow-300 pl-4">
        <h2
          class="text-xl font-semibold text-yellow-100 italic md:text-2xl lg:text-3xl"
        >
          "Sin techos, Sin Límites, Sin Fronteras, somos uno en Amor, somos
          Familia"
        </h2>
      </div>
      <p class="mt-6 text-lg leading-relaxed opacity-90 md:text-xl">
        Lugar para adorar y exaltar al Rey de Reyes
      </p>
    </div>

    {/* Right Side Logo */}
    <div class="relative z-10 hidden rounded-lg p-6 md:block">
      <Image
        src="/assets/church_logo.jpg"
        alt="Church Logo"
        width="192"
        height="192"
        class="h-48 w-48 object-contain"
      />
    </div>
  </div>
</section>
